@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Manrope', sans-serif;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

@media print {
  body * { visibility: hidden; }
  .ticket-print, .ticket-print * { visibility: visible; }
  .no-print { display: none !important; }
  .ticket-print {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
  }
}